:root {
  --dark-background-color: #333;
  --dark-text-color: #DEDEDE;
  --dark-card-color: #525B68;
  --dark-card-forecast-color: #474747;
 
  --light-background-color: #FFFFFF;
  --light-text-color: #0000;
  --light-card-color: #F0EFEF;
  --light-card-forecast-color: #CBE0FF;

  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --card-color: var(--dark-card-color);
  --card-forecast-color: var(--dark-card-forecast-color);
}



* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-background-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  &.light {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --card-color: var(--light-card-color);
    --card-forecast-color: var(--light-card-forecast-color);
  }
}

main {
  flex-grow: 1;
  display: flex;
  padding: 1rem;
  .current {
    background-color: var(--card-color);
    min-width: 450px;
    height: 750px;
    margin: 3rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    h1 {
      font-size: 4rem;
      margin: auto;
    }
    h2 {
      font-size: 8rem;
      margin: auto;

    }
    img {
      width:200px;
      margin: auto;
    }
    p {
      font-size: 4rem;
      margin: auto;

    }
  }
  .forecast-container {
    background-color: var(--card-forecast-color);
    width: 1200px;
    min-width: 600px;
    height: 750px;
    margin: 3rem;
    margin-left: auto;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5rem;
      margin-top: 1rem;
    }
    .forecast-card-container {
      margin: auto;
      width: 90%;
      height: 40rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .weekday {
        background-color: var(--card-color);
        min-width: 150px;
        height: 250px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        h1 {
          font-size: 2rem;
          margin: auto;
        }
        h2 {
          font-size: 4rem;
          margin: auto;
    
        }
        img {
          width: 100px;
          margin: auto;
        }
        p {
          font-size: 2rem;
          margin: auto;
    
        }
      }
    }
  }
}

footer {
  height: 4rem;
  width: 100%;
  padding: 0;
  background-color: var(--card-forecast-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  p {
    margin: 1rem;
  }
}

@media only screen and (max-width: 1350px) {
  main {
    flex-grow: 1;
    display: flex;
    padding: 1rem;
    .current {
      background-color: var(--card-color);
      min-width: 450px;
      height: 750px;
      margin: 3rem;
      margin-right: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
      h1 {
        font-size: 4rem;
        margin: auto;
      }
      h2 {
        font-size: 8rem;
        margin: auto;
  
      }
      img {
        width: 200px;
        margin: auto;
      }
      p {
        font-size: 4rem;
        margin: auto;
  
      }
    }
    .forecast-container {
      background-color: var(--card-forecast-color);
      width: 1200px;
      min-width: 500px;
      height: 750px;
      margin: 3rem;
      margin-left: auto;
      border-radius: 15px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 3.5rem;
        margin-top: 1rem;
      }
      .forecast-card-container {
        margin: auto;
        width: 90%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .row {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .weekday {
          background-color: var(--card-color);
          min-width: 200px;
          height: 350px;
          margin: auto;
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 15px;
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .current {
      background-color: var(--card-color);
      width: 500px;
      min-width: 300px;
      height: 750px;
      margin: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
      h1 {
        font-size: 4rem;
        margin: auto;
      }
      h2 {
        font-size: 8rem;
        margin: auto;
  
      }
      img {
        width: 200px;
        margin: auto;
      }
      p {
        font-size: 4rem;
        margin: auto;
  
      }
    }
    .forecast-container {
      background-color: var(--card-forecast-color);
      width: 500px;
      min-width: 300px;
      height: 750px;
      margin: 3rem;
      border-radius: 15px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 3.5rem;
        margin-top: 1rem;
      }
      .forecast-card-container {
        margin: auto;
        width: 90%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .row {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .weekday {
          background-color: var(--card-color);
          min-width: 200px;
          height: auto;
          margin-bottom: 2rem;
          margin-top: 2rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 15px;
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
          h1 {
            font-size: 2rem;
            margin: auto;
          }
          h2 {
            font-size: 4rem;
            margin: auto;
      
          }
          img {
            width: 100px;
            margin: auto;
          }
          p {
            font-size: 2rem;
            margin: auto;
      
          }
        }
      }
    }
  }
  
  footer {
    height: 4rem;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: var(--card-forecast-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin: 1rem;
    }
  }
}
