:root {
  --dark-background-color: #333;
  --dark-text-color: #ffffff;
  --dark-card-color: #233448ce;
  --dark-card-forecast-color: #0000008f;

  --light-background-color: #ffffff;
  --light-text-color: #0000;
  --light-card-color: #f0efef;
  --light-card-forecast-color: #cbe0ff71;

  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --card-color: var(--dark-card-color);
  --card-forecast-color: var(--dark-card-forecast-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-background-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.light {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --card-color: var(--light-card-color);
    --card-forecast-color: var(--light-card-forecast-color);
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  .main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: 1rem;
    margin-bottom: 0;
    text-align: center;
    padding: 1rem;
    img {
      margin: 0.5rem;
      margin-left: 2rem;
      width: 2rem;
    }
    h1 {
      margin: 0.5rem;
      margin-right: 2rem;
    }
  }

  .current {
    background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      var(--card-color)
    );
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    word-wrap: normal;
    margin: 1rem;
    margin-top: 0;
    h1 {
      font-size: 2.5rem;
      margin: 1rem;
      text-decoration: underline;
    }
    h2 {
      font-size: 5rem;
      margin: 1rem;
    }
    img {
      width: 10rem;
      margin: 1rem;
    }
    p {
      font-size: 2.5rem;
      margin: 1rem;
      text-align: center;
    }
  }
  .quote-container {
    float: right;
    width: 50%;
    min-width: 30%;
    height: fit-content;
    background-color: var(--card-forecast-color);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
    border-radius: 1rem;
    box-shadow: 0px 4px 5px -1px black;
    margin: 1rem;
    margin-left: auto;
    .quote {
      color: white;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    .quote-author {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-style: italic;
      font-weight: lighter;
      margin-left: auto;
    }
  }

  .forecast-card-container {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85)10%,
      rgba(0,0,0,0.6)60%,
      rgba(0, 0, 0, 0)
    );
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    justify-content: start;
    &::-webkit-scrollbar {
      display: none;
    }
    .card {
      user-select: none;
      min-width: 14rem;
      height: 22rem;
      margin: 2.5rem;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
      transition: 800ms;
      transform-style: preserve-3d;
      &:hover {
        cursor: pointer;
      }
      &.flip {
        transform: rotateY(180deg);
        .front {
          opacity: 0;
        }
        .back {
          opacity: 1;
        }
      }
      .back {
        position: absolute;
        transform: rotateY(180deg);
        background-color: var(--card-color);
        transition: 600ms;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 5px;
        padding: 1rem;
        opacity: 0;
        h1 {
          margin: auto;
        }
        .sun {
          margin: auto;
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          img {
            margin-bottom: .5rem;
            height: 2.5rem;
          }
          h1 {
            font-size: 1.5rem;
          }
        }
        .wind {
          margin-top: auto;
          width: 100%;
          position: relative;
          .wind-main {
            width: 100%;
          }
          h1 {
            position: absolute;
            bottom: 0;
            font-size: 2.75rem;
          }
          .wind-direction {
            position: absolute;
            width: 3.25rem;
            top: .5rem;
            left: .1rem;
          }
        }
      }
      .front {
        position: absolute;
        background-color: var(--card-color);
        transition: 600ms;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding: 1rem;
        h1 {
          font-size: 2rem;
          margin: 0.25rem;
          margin-bottom: 1rem;
          text-decoration: underline;
        }
        h2 {
          font-size: 2.5rem;
          margin: 0.25rem;
        }
        img {
          width: 8rem;
          margin: 0.25rem;
        }
        p {
          font-size: 2rem;
          margin: auto;
          height: fit-content;
          width: 10rem;
          text-align: center;
          word-break: normal;
        }
      }
    }
  }
}

footer {
  height: 4rem;
  width: 100%;
  min-width: fit-content;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  p {
    margin: 0.5rem;
    text-align: center;
    & a {
      color: #508de9;
      text-decoration: none;
      &:hover,
      &:active {
        color: #93cbff;
      }
    }
  }
}
@media screen and (max-width: 1490px) {
  html {
    font-size: 12px;
  }
  footer {
    padding-bottom: 3rem;
    p {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 9px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: unset;
    .current-container {
      width: 100%;
      .main-info {
        min-width: fit-content;
        margin: unset;
        margin-right: unset;
        padding: 2rem;
        img {
          width: 2.5rem;
          &#location {
            width: 2.1rem;
          }
        }
        h1 {
          font-size: 2.5rem;
        }
      }
      .current {
        margin-right: auto;
        margin-left: unset;
        box-shadow: 0px 0px 10px 0px black;
        h1 {
          font-size: 3rem;
        }
        h2 {
          font-size: 6rem;
        }
        img {
          width: 12.5rem;
        }
        p {
          font-size: 3rem;
        }
      }
    }
    .quote-container {
      width: 90%;
      margin: 2.5rem;
      padding: 2rem;
    }
    .forecast-card-container {
      justify-content: stretch;
      .card {
        font-size: 9px;
        min-width: 14em;
        height: 22em;
        .front {
          h1 {
            font-size: 2em;
            margin: 0.25em;
          }
          h2 {
            font-size: 2.5em;
            margin: 0.25em;
          }
          img {
            width: 6em;
            margin: 0.25em;
          }
          p {
            font-size: 2em;
            width: 6em;
          }
        }
        .back {
          .sun {
            margin-top: 2em;
            img {
              height: 2.5em;
            }
            h1 {
              font-size: 1.5em;
            }
          }
          .wind {
            h1 {
              font-size: 2.75em;
            }
            .wind-direction {
              width: 3.25em;
              top: 1em;
              left: 0.25em;
            }
          }
        }
      }
      margin-top: auto;
    }
  }
  footer {
    font-size: 12px;
    padding: 4rem;
  }
}
@media screen and (max-width: 835px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 5px;
  }
}
